# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.AdventOfCode2021.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Workspace\Advant-Of-Code-2021\AdventOfCode2021\.idea\.idea.AdventOfCode2021\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
